*.bak
*.bin
*.elf
*.obj
*.cmp
*.vhd
*.bsf

HDL/software/AI_Speech1/obj/
HDL/software/AI_Speech1_bsp/obj/

HDL/db/
HDL/.qsys_edit/
HDL/greybox_tmp/
HDL/incremental_db/
HDL/output_files/
HDL/system/
HDL/simulation/

Python/venv/
Python/mini_speech_commands/
Python/tier1/
Python/tier2/
Python/trained/

thesis/main.pdf
thesis/*.aux
thesis/*.blg
thesis/*.out
thesis/*.xml
thesis/*.gz
thesis/*.toc
thesis/*.log
thesis/*.bbl
thesis/main-blx.bib
